.createPostPage {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 90vh;
}

.postContainer {
  background-color: white;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 400px;
  width: 500px;
  gap: 10px;
  padding: 0px 40px;
  box-shadow: 5px 10px 16px -5px #777777;
}

.postContainer h1 {
  margin: 0px;
}

.postContainer input {
  width: 100%;
  height: 30px;
  outline: none;
  padding: 0px 4px;
  box-sizing: border-box;
}

.postContainer textarea {
  width: 100%;
  height: 120px;
  outline: none;
  padding: 7px;
  box-sizing: border-box;
}

.postButton {
  padding: 10px 0;
  background-color: rgb(64, 131, 231);
  border: none;
  box-shadow: 5px 10px 16px -5px #777777;
  border-radius: 5px;
  color: white;
  cursor: pointer;
  width: 100%;
}

.postButton:hover {
  transform: translateY(5px);
  box-shadow: none;
}
